<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block layout:fragment="head">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
</th:block>
    <div class="footer">
        <article>
            상호명 : 넘블
        </article>
        <article>
            대표이사 : 김원태
        </article>
        <article>
            사업자등록번호 : 123-45-67890
        </article>
        <article>
            통신판매업번호 : 2021-서울종로-1111
        </article>
        <article>
            사업장 소재지 : 서울특별시 종로구 종로 6, 5층 스타트업빌리지(서린동, 광화문우체국)
        </article>
    </div>
</html>