<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block layout:fragment="head">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
</th:block>
    <header class="header">
        <div class="header_wrap">
            <div class="top_menu">
                <span>
                    <a
                        id="a_login"
                        href="/login"
                        sec:authorize="isAnonymous()"
                    >로그인</a>
                    <form
                        id="a_logout"
                        sec:authorize="isAuthenticated()"
                        th:action="@{/auth/logout}"
                        method="post"
                        style="display:inline"
                    >
                        <button type="submit" class="a_style_btn">
                            로그아웃
                        </button>
                    </form>
                </span>
                <span>&nbsp;|&nbsp;</span>
                <span><a id="a_signup" href="/signup">회원가입</a></span>
                <span>&nbsp;|&nbsp;</span>
                <span>고객센터</span>
            </div>
            <div class="middle_menu">
                <div class="logo_wrap">
                    <h2 onclick="location.href='/';" style="cursor: pointer">SSG.COM</h3>
                    <button id="logo_menu_btn_open">▼</button>
                    <div id="logo_menu" style="display: none;">
                        <div class="logo_menu_title">
                            <h2>SSG.COM</h2>
                            <button id="logo_menu_btn_close">▲</button>
                        </div>
                        <ul>
                            <li onclick="location.href='/mall?company=emart';">이마트몰</li>
                            <li onclick="location.href='/mall?company=shinsegae_mall';">신세계몰</li>
                            <li onclick="location.href='/mall?company=shinsegae_departmentstore';">신세계백화점</li>
                            <li onclick="location.href='/mall?delivery=early_morning';">새벽배송</li>
                        </ul>
                    </div>
                </div>
                <form
                    id="search_form"
                    th:action="@{/search_result}"
                    method="get"
                >
                    <input class="search_input" name="search" />
                </form>
                <div></div>
            </div>
            <div class="bottom_menu">
                <div class="bottom_items_align">
                    <nav class="nav_menu_icon">쓱배송</nav>
                    <nav class="nav_menu_icon">새벽배송</nav>
                </div>
                <div class="bottom_items_align">
                    <nav onclick="location.href='/mall?company=shinsegae_departmentstore';" class="nav_menu_item">백화점</nav>
                    <nav class="nav_menu_item">선물하기</nav>
                    <nav class="nav_menu_item">베스트</nav>
                    <nav class="nav_menu_item">신상품</nav>
                </div>
            </div>
            <h4></h4>    
        </div>
    </header>
</html>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        function menuOpenClose(open = true) {
            const logoMenu = document.getElementById("logo_menu");
            if (open) {
                logoMenu.style.display = "block";
            } else {
                logoMenu.style.display = "none";
            }
        }

        const logoMenuOpenBtn = document.getElementById("logo_menu_btn_open");
        const logoMenuCloseBtn = document.getElementById("logo_menu_btn_close");
        logoMenuOpenBtn.addEventListener("click", () => menuOpenClose(true))
        logoMenuCloseBtn.addEventListener("click", () => menuOpenClose(false))
    })
</script>
