h3 {
    margin: 0 !important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}

.header_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1024px;
    padding: 20px;
}

.header .header_wrap .top_menu {
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: right;
    color: #bfbfbf;
}

.header .header_wrap .middle_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.header .header_wrap .bottom_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.bottom_items_align {
    display: flex;
    flex-direction: row;
}

.nav_menu_icon {
    margin-right: 10px;
}

.nav_menu_item {

}

.header h4 {
    margin: 0 !important;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 20px;
    margin: 0;
}

.content {
    padding: 20px;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    width: 100%;
    padding: 15px 0;
    text-align: left;
    font-size: 25px;
}

.a_style_btn {
    border: none;
    font-size: 12px;
    padding: 0;
    background: white;
    color: #0d6efd;
    text-decoration: underline;
}

.form-label {
    flex: 0.4
}

.form-control {
    flex: 0.6;
    padding: 15px !important;
    border-radius: 0px !important;
    border: 1px solid #aaa !important;
}